.app {
  text-align: center;
  margin-top: 50px;
}

.network-status {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  font-weight: bold;
  background: #262626;
  color: #fff;
}

.network-status .online {
  color: #50ca64;
}

.network-status .offline {
  color: #e34242;
}
